node_modules
npm-debug.log
yarn-error.log
storage/logs/*
bootstrap/cache/*
.env
.env.*.php
.env.*.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
.DS_Store
.fleet
.idea
.nova
.phpactor.json
.vscode
.zed
auth.json
vendor/bin/pint
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/logs/*
/storage/pail/*
Thumbs.db
.git
.gitignore
README.md
tests/
database/factories/
database/seeders/
